<header class="header">

    <div class="logo">
    <!-- Enlazamos a la raíz (/) que es el Inicio -->
    <a routerLink="/" style="cursor: pointer;">
        <img src="/logo.svg" alt="TerretaHouse">
    </a>
</div>

    <div class="menu-toggle">
        ☰
    </div>

    <nav class="nav">
        <a routerLink="/">Inicio</a>
        <a routerLink="/guias">Guías de Turismo</a>
        <a routerLink="/ofertas">Ofertas</a>
        <a routerLink="/contacto">Contacto</a>
    </nav>

    @if (!auth.getUser()) {

        <div class="autentificacion">
            <a routerLink="/login">Iniciar Sesión</a>
            <a routerLink="/register">Registrarme</a>
        </div>

    } @else {

        <div class="autentificacion">
            
            <!-- CONTENEDOR DEL DESPLEGABLE -->
            <div class="dropdown">
                
                <!-- 
                  AL HACER CLIC: Cambiamos el valor de 'menuAbierto'.
                  Si estaba cerrado (false), pasa a abierto (true), y al revés.
                -->
                <button class="dropdown-btn" (click)="menuAbierto = !menuAbierto">
                    👤 {{ auth.getUser().email }} ▼
                </button>

                <!-- 
                  @if CONTROLA EL CLIC: El cajoncito solo existe en el HTML 
                  si la variable 'menuAbierto' es verdadera.
                -->
                @if (menuAbierto) {
                    <div class="dropdown-content">
                        
                        <!-- Contenido exclusivo para el ADMIN -->
                        @if (auth.getUser().roles?.includes('ROLE_ADMIN')) {
                            <div class="admin-tag">ADMINISTRADOR</div>
                            <a routerLink="/crear-reservas" (click)="menuAbierto = false">➕ Crear Actividades</a>
                            <hr>
                        }

                        <!-- Contenido para todos los usuarios logueados -->
                        <!-- Al hacer clic en el enlace, también cerramos el menú con menuAbierto = false -->
                        <a routerLink="/mis-reservas" (click)="menuAbierto = false">📅 Mis reservas</a>
                        
                        <a (click)="logout(); menuAbierto = false" style="cursor: pointer; color: red;">
                            ❌ Salir
                        </a>

                    </div>
                }

            </div>

        </div>

    }

</header>